<% layout("/layouts/boilerplate") %>
<body><div class="row">
    <div class="col-8 offset-2 ">
        <br>
        <h5>Edit Your Listing</h5>
<form method="POST"  action="/listing/<%= inddata._id %>?_method=PUT">
    <div class="input-div"> <label for="title" class="form-lable">Title</label>
        <input  name="title"  value="<%= inddata.title %>" class="form-control"/>
    </div>
    
    <div class="input-div">
        <label for="description" class="form-lable">Desription</label>
        <textarea name="description"  cols="15" rows="3"  class="form-control"><%= inddata.description %></textarea>
    </div>
          <div class="input-div">
            <label for="img" class="form-lable">Image URL</label>
            <input  name="img"  class="form-control" value="<%= inddata.image %>"/>
          </div>
          <div class="input-div">
            <label for="price" class="form-lable">Price</label>
            <input  name="price" value="<%= inddata.price %>"  class="form-control"/>
          </div>
          <div class="input-div">
            <label for="location" class="form-lable">Location</label>
            <input  name="location"  value="<%= inddata.location %>"  class="form-control"/>
          </div>
          <div class="input-div">
            <label for="country" class="form-lable">Country</label>
            <input  name="country" value="<%= inddata.country %>"  class="form-control"/>
          </div>
          <br>
           <button class="btn btn-outline-danger">Edit</button>
           

</form><br></div>
</div>
    
</body>
